
/* setting text to center*/


div.a{
    font-family: Courier New;
    text-align: center;
}

div.b{
    font-family: Times New Roman;
    text-align: left;
    border: 6px solid gray;
    Padding: 0px 10px;
    margin: 0px 280px;
    background-color: #cccccc;
}

div.T{
  Padding: 40px;
  text-align: center;
}

/* picture formatting*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav{
  display: flex;
  padding: 5%, 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 8px;
  position: relative;
  background-color: #dddddde1;
}

.nav-links ul li a{
  display: block;
  padding: 5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(255, 255, 255);
}
